#PLEASE SPECIFY URL WITH FILTERS, JUST COPY AND PASTE FROM BROWSER ADDRESS LINE
#ПОЖАЛУСТА УКАЖИТЕ URL С ФИЛЬТРАМИ, ПРОСТО СКОПИРУЙТЕ ИЗ АДРЕСНОЙ СТРОКИ БРАУЗЕРА
url		= "https://freelance.habr.com/tasks?categories=admin_servers,admin_network,admin_databases,admin_security,admin_other"

#Register you own telegram bot via @botFather
#Зарегистрируйте свой telegram бот у @botFather
TOKEN		= "1231235454:Ghfjh5mfdkg6UIGsfijojtjtorightrih3B"

#usually no need to change
#обычно не требуется менять
inject_url	= "https://freelance.habr.com"
base_file	= "./base.json"

